body {
    margin: 10px;
}

.body-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.cnfl {
    width: 584px;
    /* border: 1px solid black;
    padding: 15px; */
    position: relative;
}

.logo {
    margin-left: 52px;
}

.sbt {
    letter-spacing: 10px;
    font-size: 11px;
    margin-left: -18px;
}

.dfcontainer {
    display: block;
}

a:visited {
    color: #0000EE;
}

.tlh {
    padding-left: 126px;
    margin-top: -20px;
}

.divide {
    margin-left: -46px;
    display: flex;
}

.leer {
    width: 91px;
    height: 91px;
    margin-left: 168px;
    margin-top: 35px;
}

.info {
    padding-left: 10px;
    width: 100%;
    margin-left: -5px;
    margin-top: -3px;
}

.list {
    line-height: 30px;
}

.infottl {
    font-weight: 700;
}

.listlol {
    display: block;
    width: fit-content;
}

.btblock {
    margin-top: 16px;
}

.listlol {
    opacity: 0;
    transform: translateX(-8px);
    transition:
        transform 0.3s linear;
}

@media screen and (max-width: 550px) {
    .cnfl {
        /* width: 100%; */
    }

    .mobile-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-left: 6%;
        max-width: 85%;
    }

    .leer {
        margin-left: calc(27%) ;
    }
    .tlh {
        padding-left: 21%;
    }
}

@media screen and (max-width: 606px) {
    .divide {
        margin-top: 21px;
    }


}



@media screen and (max-width: 423px) {
    .divide {
        margin-top: 0px;
    }


}

@media screen and (max-width: 345px) {
    .divide {
        margin-top: 21px;
    }


}

@media screen and (max-height: 560px) {

    .body-menu {
        height: calc(100vh - 20px);
    }



}